<div class="span-14">
	<div class="column span-14">
	<h2>Job Control</h2>
	
		<form action="/jobs" method="post">
			<input type="radio" name="job" value="ResetDataJob" />Reset<br />
			<input type="radio" name="job" value="ReindexJob" />Reindex<br />
			<input type="radio" name="job" value="SnapshotJob" />Snapshot<br />
			<br />
			<input type="submit" value="Submit Job"/>
	</form>
	</div>
	<br />
	<hr class="space"/>
	<div class="column span-14">
	<h2>Backups</h2>
		<p>The following snapshot is available for download:</p>
	
		<p><a href="<%= @snapshot.url %>"><%= @snapshot.date %></a> ( <%= @snapshot.size %><%= @snapshot.units %> )</a>.</p>
		
	</div>
</div>
<div class="column span-8 last box">
<p>Job Control Functions and Store Backup</p>
</div>