<div class="span-17 box">

	<h2>Recent Updates</h2>

    <% if @records == nil %>
    <p>None</p>
    <% end %>

    <% if @records != nil %>
	<ul>
	<% @records.records.each do |record| %>
	<li><a href="<%= record.identifier %>"><%= record.identifier %></a> <%= record.datestamp %></li>
	<% end %>				
	</ul>
    <% end %>
    

</div>

<div class="span-4 box last">
    <strong>Updated:</strong><span>Unknown</span><br />
    <br />
    <strong>Readable:</strong> <span><% if @status.readable? %>True<% else %>False<% end %></span><br />
    <strong>Writeable:</strong> <span><% if @status.writeable? %>True<% else %>False<% end %></span><br />
    <br />
    <strong><%= @jobs.length %></strong> <span>scheduled jobs</span>
</div>

